{% extends 'core/base.html' %}

<!-- * Content block-->
{% block content %}

    <!-- Masthead -->
    <header style="padding-top: calc(6rem + 104px); padding-bottom: 53rem;" class="masthead bg-primary text-white text-center" >
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h2 class="masthead-heading text-uppercase mb-0">Clientes Form</h2>
            <h4 style="margin-top: 2rem; max-width: 1000px;">
                <form method="post">

                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Crear Cliente</button>

                </form>
            </h4>
        </div>
    </header>

{% endblock content %}