{% extends 'core/base.html' %}

<!-- * Content block-->
{% block content %}
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Home</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                <h2>clientes list</h2>
                <h3 style="margin-top: 2rem;">
                    Estamos dedicados a brindar cuidado y <a style="color: rgb(0, 255, 149);" href="#"><u>atención</u></a> integral a tus mascotas. Nuestra plataforma en línea ofrece una experiencia fácil y conveniente para la gestión de la información relacionada con la salud y el bienestar de tus queridos animales.
                </h3>
            </p>
        </div>
    </header>
{% endblock content %}