{% extends 'core/base.html' %}

<!-- * Content block-->
{% block content %}
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Recursos Humanos</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                <h2>Veterinaria VetVida</h2>
                <h3 style="margin-top: 1rem; text-align: left;"> <!-- Aquí se agrega el estilo -->
                    En VetVida, nuestra veterinaria se distingue por ofrecer un enfoque holístico en la atención de las mascotas, donde el papel de los recursos humanos es fundamental para garantizar un servicio de calidad y cuidado excepcional. nuestro equipo de recursos humanos desempeña un papel crucial en la gestión integral de clientes, doctores, mascotas y consultas, creando un entorno de confianza, profesionalismo y dedicación que refleja nuestro compromiso con la salud y el bienestar animal.
                </h3>
            </p>
        </div>
    </header>
{% endblock content %}
