{% extends 'core/base.html' %}

<!-- * Content block-->
{% block content %}

    <!-- Masthead -->
    <header style="padding-top: calc(6rem + 104px); padding-bottom: 32rem;" class="masthead bg-primary text-white text-center" >
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h2 class="masthead-heading text-uppercase mb-0">Eliminar Mascota</h2>
            <h4 style="margin-top: 2rem; max-width: 1000px;">
                <form method="post">

                    {% csrf_token %}
                    <p> Quiere Eliminar esta Mascota ?</p>
                    
                    <table>
                        <thead>
                            <tr style="border: 1px solid black; background-color: #15725b;">
                            <th style="border: 1px solid black; padding: 8px;">Nombre</th>
                            <th style="border: 1px solid black; padding: 8px;">Raza</th>
                            <th style="border: 1px solid black; padding: 8px;">Fecha Nacimiento</th>
                            <th style="border: 1px solid black; padding: 8px;">Dueño</th>
                        </thead>
                        <tbody>
                            <tr style="border: 1px solid black;">
                                <td style="border: 1px solid black; padding: 8px;">{{ object.nombreMascota }}</td>
                                <td style="border: 1px solid black; padding: 8px;">{{ object.razaMascota }}</td>
                                <td style="border: 1px solid black; padding: 8px;">{{ object.fechanacimientoMascota }}</td>
                                <td style="border: 1px solid black; padding: 8px;">{{ object.nombreDueno }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="submit">Eliminar Mascota</button>

                </form>
            </h4>
        </div>
    </header>

{% endblock content %}